@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

img{
    width: 100px;
    vertical-align: middle;
    margin-left: 30px;
}

/*font-family: 'Poppins', sans-serif;
light 300
bold 700
*/

h1,strong{
    color: #0a2ff1;
    font-size: 32px;/*24pt 32px*/
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

strong{
    font-weight: 700;
}

div{
    margin-left: 100px;
}